extends ../layout/index

block contenido 
    div.py-1
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raices
        h2.text-center.text-2xl.font-extrabold= pagina

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form.space-y-5
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for='email') Email de Registro
                        input#email.w-full.px-2.py-1.border.border-gray-300.rounded-lg.placeholder-gray-400(placeholder='Tu Email' type='email' name='email')

                    div.flex.items-center.justify-between 
                        a.text-gray-500.text-xs(href='/auth/login') Iniciar Sesion con mi Cuenta !
                        a.text-gray-500.text-xs(href='/auth/registro') Registrarme ahora 

                    input(class='w-full bg-indigo-500 hover:bg-indigo-700 text-white rounded-lg font-bold py-3 cursor-pointer' type="submit" value='Enviar Instrucciones')  