header.bg-indigo-600.p-4
    .container.flex.justify-between.my-auto 
        h1.text-2xl.text-white.font-extrabold.text-center Bienes
            span.font-normal Raices

        nav.px-3.w-4.navegador(class='mx-5 text-white')
            a(href="") Mis Propiedades 
            a(href="") Mi Perfil 
            a(href="") Cerrar Sesion 